body {
    font-family: sans-serif;
    background-color: #490b3d;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #bd1e51;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #490b3d;
    color: #ffffff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
    background-color: #f9fbfd;
}

tbody tr:hover {
    background-color: #e8f0fe;
}

td {
    color: #f1b814;
}